In [15]:
num=int(input("enter the number you want to see square:"))

for i in range(0,num+1):
    print(i)  
for i in range(0,num+1):
    b=i**2 
    print(b)

enter the number you want to see square:20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [16]:
#list
list1=list(range(1,num+1))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [17]:
list2=[]
for i in list1:
    list2.append(i*i)
    
    print(list2)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [21]:
list2=[]
for i in list1:
    b=i**2
    list2.append(b)
print(list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [25]:
#dict={key:value}
dict1={y:y*y for y in range(1,11)}
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [26]:
for key,value in dict1.items():
    print(key,value)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [28]:
dict1.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [29]:
dict1.values()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100])

In [30]:
dict1.items()

dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)])

In [45]:
# tuple contain 1-20 even
a=tuple(i for i in range(2,21,2))
print(a)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [47]:
#set odd no between 1-20
dict={i for i in range(1,21,2)}
print(dict)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}